/***************
    Root
****************/
:root {
    --clr-primary-600: hsl(184, 100%, 22%);
    --clr-primary-800: hsl(179, 100%, 13%);
    --clr-secondary: hsl(31, 77%, 52%);

    --neutral-100: hsl(0, 0%, 95%);
    --neutral-200: hsla(0, 0%, 100%, 0.75);

    --ff-primary: 'Lexend Deca', sans-serif;
    --ff-accent: 'Big Shoulders Display', cursive;

    --fs-700: 2.2rem;
    --fs-400: 0.9375rem; /* 15px */

    --fw-400: 400;
    --fw-700: 700;
}

/***************
    Reset
****************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1, h2, h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/***************
    Global
****************/
body {
    min-height: 100vh;
    
    display: grid;
    place-items: center;
    
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1.6;
    
    background-color: var(--neutral-100);
    color: var(--neutral-200);
}

h1, 
h2,
h3 {
    line-height: 1.1;
}

/***************
    Composition
****************/
.container {
    width: min(100% - 2rem, 54.5rem);
    margin-inline: auto;
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1rem);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/***************
    Block
****************/
.cards {
    --gap: 0;
    margin-block: 2rem;
}

.card {
    --flow-spacer: 2rem;
    width: min(100%, 19rem);
    margin-inline: auto;

    padding: 2.5rem;
}

.card--1 {
    background-color: var(--clr-secondary);
    color: var(--clr-secondary);
    border-radius: 10px 10px 0 0;
}

.card--2 {
    background-color: var(--clr-primary-600);
    color: var(--clr-primary-600);
}

.card--3 {
    background-color: var(--clr-primary-800);
    color: var(--clr-primary-800);
    border-radius: 0 0 10px 10px;
}

.card__title { 
    font-family: var(--ff-accent);
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    text-transform: uppercase;

    color: var(--neutral-100);
}

.card__content {
    color: var(--neutral-200);
}

.card__link {
    display: inline-block;
    width: fit-content;

    text-align: center;
    text-decoration: none;

    padding: .7rem 2rem;
    
    background-color: var(--neutral-100);
    color: inherit;

    outline: 1px solid var(--neutral-100);
    border-radius: 30px;
}

.card__link:hover,
.card__link:focus {
    background-color: transparent;
    color: var(--neutral-100);
}

/* 700px */
@media only screen and (min-width: 50em) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .card--1 { border-radius: 10px 0 0 10px; }
    .card--3 { border-radius: 0 10px 10px 0; }

    .card__content { margin-bottom: 2rem; }
}